.heroList {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #06e4f8;
  background: #23b10e;

  li {
    height: 100px;
    padding: 10px 15px;
    border-bottom: 1px solid #06e4f8;

    &:last-child {
      border-bottom: none;
    }
  }
}